<%- include("partials/header"); -%>
<div class="text-center" style="padding: 0 25%;">
  <h4 style="margin: 0; opacity: 0.8; background-color:rgb(213, 239, 243); border-radius:  0 0 25px 25px;">Welcome <span class="text-primary" style="font-weight: bold;"><%= name %> !</span></h4>
</div>
<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>

<h1><%=post.title%> &emsp;<span class="text-muted" style="font-size: medium;"><%= post.date %> | <%= post.time %> <span></span></h1>
<p>
  <%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
</p>


<% }) %>
  <form action="/compose" method="get">
    <button class="btn btn-primary compose-btn" type="submit">
      +
    </button>
  </form>


<%- include("partials/footer"); -%>